body {
  text-align: center;
  background: rgba(183, 235, 222, 1);
  background-size: cover;
  background-position: center;
  color: rgba(69, 65, 66, 1);
  font-family: 'News Cycle', sans-serif;
}

p {
  font-size: 20px;
  max-width: 600px;
  margin: 0 auto;
  line-height: 130%;
}

a {
  text-decoration: none;
  font-style: italic;
  color: rgba(69, 65, 66, .6);
}

h1 {
  font-family: 'Lobster', cursive;
}

h2 {
  font-family: 'Lobster', cursive;
  font-size: 28px;
}

.intro {
	margin-top: 70px;
}

.cameron {
  border: 3px solid white;
  border-radius: 100%;
	width: 220px;
}

.carousel {
  background: rgba(255,255,255,.4);
  width: 500px;
  height: 380px;
  padding: 10px;
	margin: 40 auto;
  border-radius: 10px
}

.carousel-image {
  width: 340px;
}

input[type="button"] {
  background: rgba(255,255,255,.4);
  color: 454142;
  margin: 10px;
}

.contact {
	background: rgba(255,255,255,.4);
	width: 500px;
	height: 307px;
	padding: 5px;
	margin: 0 auto;
	border-radius: 10px;
}

.social-icon {
	width: 55px;
	margin: 5px 10px 22px 10px;
}

.email-prompt {
  font-size: 19px;
  margin: 0 10px 0 10px;
}

input {
  border: 0;
  padding: 10px;
  font-size: 18px;
  font-family: 'News Cycle', sans-serif;
  margin-top: 20px;
  border-radius: 10px;
}

input[type="submit"] {
  background: rgba(200, 100, 100, .7);
  color: white;
}

.top {
	float: right;
	margin: 10px 10px 0 0;
}

.logo-image {
	height: 50px;
  opacity: .4;
}

.top-text {
  font-size: 15px;
  float: right;
  margin: 24px 10px 0 0;
}

.bottom {
	float: left;
	margin: 20 0 15px 10px;
}

.bottom-text {
  font-size: 14px;
  float: left;
  text-align: left;
  margin: 24px 0 0 10px;
}

.contact-info {
  color: rgba(69, 65, 66, 1);
}

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) {
  p {
    font-size: 55px;
    max-width: 90%;
  }
  h1 {
    font-size: 70px;
  }
  h2 {
    font-size: 65px;
  }
  .intro {
  margin-top: 150px;
  }
  .cameron {
    width: 500px;
  }
  .carousel {
    width: 90%;
    height: 600px;
  }
  .carousel-image {
    width: 500px;
  }
  .contact {
    width: 90%;
    height: 650px;
    margin-bottom: 30px;
  }
  .social-icon {
    width: 100px;
  }
  .email-prompt {
    font-size: 50px;
    margin: 10px 10px 15px 10px;
  }
  input {
    font-size: 48px;
  }
  .logo-image {
    height: 100px;
  }
  .top-text {
    font-size: 35px;
    margin: 30px 15px 0 0;
  }
  .bottom-text {
    font-size: 33px;
    margin: 15px 0 0 15px;
  }
}